streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langchain-text-splitters
langchain-huggingface
faiss-cpu
requests
pdfminer.six
numpy
python-dotenv
pypdf
PyMuPDF
sentence-transformers
PyPDF2
